<!DOCTYPE html>
<html>
<head>
    <title>{{ annonce.titre }}</title>
</head>
<body>
    <h1>{{ annonce.titre }}</h1>

    {% if annonce.image %}
        <img src="{{ annonce.image.url }}" width="400">
    {% endif %}

    <p><strong>Description complète :</strong> {{ annonce.description }}</p>
    <p><strong>Prix :</strong> {{ annonce.prix }} FCFA</p>
    <p><strong>Localisation :</strong> {{ annonce.localisation }}</p>
    <p><strong>Date publiée :</strong> {{ annonce.date_postee }}</p>

    <a href="/">Retour à l’accueil</a>
   {# Masquer les infos sensibles pour les non-clients #}
    {% if user.is_authenticated and user.role == 'client' %}
      <div class="card mt-4">
        <div class="card-header">
          <h5><i class="fas fa-user-shield"></i> Contact propriétaire</h5>
        </div>
        <div class="card-body">
          <p>Visible après prise de rendez-vous confirmé</p>
          <a href="{% url 'creer_rdv' annonce.id %}" class="btn btn-primary">
            <i class="fas fa-handshake"></i> Prendre rendez-vous
          </a>
        </div>
      </div>
    {% endif %}
</body>
</html>
